/* typographie*/
:root {
  --color-primary: #3056d3;
  --color-secodary: #f3f4fe;
  --color-accent: #13c296;
  --color-heading: #212b36;
  --color-body: #637381;
}
html {
  /*change le rem à 10px */
  font-size: 62.5%;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}
h1,
h2,
h3 {
  font-family: "Inter", "sans-serif";
  font-weight: 700;
}
h2,
h3 {
  color: var(--color-heading);
}

/* link */
